OS_URL=https://127.0.0.1:9200
OS_USER=admin
OS_PASS=CHANGE_ME_OPENSEARCH_PASSWORD
OS_VERIFY_SSL=false

OS_INDEX_PREFIX=ndr-flows
APPLY_TEMPLATE_ON_START=true
BULK_SIZE=1
BULK_FLUSH_SECONDS=1

FLOW_COLLECTOR_PORT=2055
FLOW_LISTEN=netflow://:2055
FLOW_OBSERVER_VENDOR=opnsense
FLOW_OBSERVER_TYPE=firewall
NDR_ENV=lab
NDR_COLLECTOR_NAME=goflow2
KEEP_RAW_GOFLOW=true
NDR_TAG_NOISE=true
NDR_DROP_NOISE=false

# Example sanitized lab values
NDR_NOISE_IPS=168.63.129.16,169.254.169.254
NDR_FIREWALL_IPS=10.51.1.15
NDR_COLLECTOR_IPS=10.51.1.11
NDR_NETFLOW_PORTS=2055
