# REQUIRED
OPENSEARCH_INITIAL_ADMIN_PASSWORD=CHANGE_ME_STRONG_ADMIN_PASSWORD

# Optional naming
OPENSEARCH_CLUSTER_NAME=ndr-central
OPENSEARCH_NODE_NAME=opensearch-node1

# JVM sizing
OPENSEARCH_JAVA_OPTS="-Xms4g -Xmx4g"

# Real NDR admin user created after bootstrap
NDR_ADMIN_USERNAME=admin
NDR_ADMIN_PASSWORD=CHANGE_ME_NDR_ADMIN_PASSWORD

# OpenSearch Dashboards server user
OS_DASHBOARDS_USERNAME=kibanaserver
OS_DASHBOARDS_PASSWORD=CHANGE_ME_DASHBOARDS_PASSWORD

# Data Prepper -> OpenSearch
OS_INGEST_USERNAME=logstash
OS_INGEST_PASSWORD=CHANGE_ME_INGEST_PASSWORD

# Vector -> Data Prepper
DP_HTTP_USERNAME=vector
DP_HTTP_PASSWORD=CHANGE_ME_VECTOR_PASSWORD

# Optional index prefix
DP_INDEX_PREFIX=zeek

# Example sanitized Azure topology
AZURE_SUBNETS=hub:hub-vnet:hub-subnet:10.50.0.0/24;spoke1:spoke1-vnet:app-subnet:10.51.1.0/24;spoke1:spoke1-vnet:services-subnet:10.51.3.0/24;spoke2:spoke2-vnet:app-subnet:10.52.1.0/24
